* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Microsoft YaHei", sans-serif;
  line-height: 1.25rem;
  background: #EEE;
  color: rgba(0, 0, 0, .88);
  font-size: .875rem;
}

.clearfix {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  color: rgba(0, 0, 0, .64);
}

a:hover {
  text-decoration: underline;
}

footer {
  padding-bottom: 40px;
  text-align: center;
}

footer .profiles {
  margin-bottom: 56px;
}

footer .profiles a:not(:last-of-type) {
  border-right: 1px solid rgba(0,0,0,.4);
  margin-right: .6em;
  padding-right: .8em;
}

footer #copyright {
  color: rgba(0, 0, 0, .4);
}

#resume #main .list ul li:not(:first-child) {
  margin-top: 28px;
}

#resume #main .list ul li h3 {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 4px;
}

#resume #main .list ul li h3.title {
  font-weight: 700;
  color: rgba(0, 0, 0, .88);
}

#resume #main .list ul li h3.subtitle {
  font-weight: 600;
  color: rgba(0, 0, 0, .64);
}

#resume #main .list ul li h3.location,
#resume #main .list ul li h3.time {
  color: rgba(0, 0, 0, .64);
}

#resume #main .list ul li h3.time .period {
  color: rgba(0, 0, 0, .64);
}

#resume #main .list ul li .left,
#resume #main .list ul li .right {
  width: 50%;
}

#resume #main .list ul li .left {
  padding-right: 48px;
}

#resume #main .list ul li .right {
  padding-left: 48px;
}

#resume #main .list ul li .description {
  font-size: 1em;
  color: rgba(0, 0, 0, .64);
}

#resume #main .list ul li .description p {
  margin-bottom: 12px;
}

#resume #main .list ul li .description p:last-of-type {
  margin-bottom: 0;
}

#resume #main #contact.list ul li,
#resume #main #skills.list ul li {
  font-size: 1em;
  line-height: 1.25rem;
}

#resume #main #contact.list ul li:not(:first-child),
#resume #main #skills.list ul li:not(:first-child) {
  margin-top: 12px;
}

#resume {
  margin: 40px auto;
  padding: 40px;
  max-width: 768px;
  box-sizing: content-box;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.resume-section {
  margin-top: 28px;
  display: block;
}

.sectionLeft {
  float: left;
  /*width: 132px;*/
}

.sectionRight {
  float: right;
  width: 635px;
}

h1#name {
  font-size: 2.57em;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, .88);
  font-weight: 600;
  position: relative;
  margin-top: 2px;
}

.current-position {
  font-size: 1em;
  font-weight: 600;
  margin-right: 4px;
  color: rgba(0, 0, 0, .88);
  margin-top: 7px;
}

ul.subContact {
  font-size: 1em;
  margin-top: 12px;
}

ul.subContact li {
  display: inline-block;
  color: rgba(0, 0, 0, .64);
  margin-right: 8px;
}

ul.subContact li a {
  color: rgba(0, 0, 0, .64);
}

ul.subContact li:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, .4);
  margin-right: .6em;
  padding-right: .8em;
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: text-bottom;
}

.subContact svg {
  fill: rgba(0, 0, 0, .64);
}

.resumeSection {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  color: #3d79f2;
}

.about-me {
  color: rgba(0, 0, 0, .64);
  font-size: 1em;
}

.spacing-small #resume {
  padding: 49px 0;
}

.spacing-small #top .subAbout {
  margin-top: 20px;
}

.spacing-small .resume-section {
  margin-top: 20px;
}

.spacing-small #resume #main .list ul li:not(:first-child) {
  margin-top: 20px;
}

.spacing-small #resume #main .list ul li:first-child {
  margin-top: 0;
}

.spacing-small #resume #main #contact.list ul li:not(:first-child),
.spacing-small #resume #main #skills.list ul li:not(:first-child) {
  margin-top: 4px;
}

.spacing-large #resume {
  padding: 81px 0 73px;
}

.spacing-large #top .subAbout {
  margin-top: 44px;
}

.spacing-large #resume #main .list ul {
  margin-top: 0;
}

.spacing-large #resume #main .list ul li {
  margin-top: 20px;
}

.spacing-large #resume #main .list ul li:first-child {
  margin-top: 0;
}

.spacing-large .currentPosition {
  position: relative;
  margin-top: 7px;
}

.spacing-large ul.subContact {
  margin-top: 12px;
}

.spacing-large .resume-section {
  margin-top: 44px;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

.skills {
  width: 50%;
  padding-right: 5px;
}

.skills h3.title,
.skills ul li {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 1em;
  color: rgba(0, 0, 0, .64);
}

.skills h3.title {
  font-weight: 700;
  color: rgba(0, 0, 0, .88);
}

@media screen and (max-width:850px) {
  .sectionLeft,
  .sectionRight {
    float: none;
    width: 100%;
  }
  .spacing-small h2.resumeSection {
    margin-bottom: 4px;
  }
  .spacing-large h2.resumeSection,
  h2.resumeSection {
    margin-bottom: 12px;
  }
  .mobile-hide {
    display: none;
  }
  .desktop-hide {
    display: block;
  }
  .left,
  .right {
    float: none;
    padding: 0;
    width: 100%;
  }
  #resume #main .list ul li .description {
    margin-top: 4px;
  }
  #resume {
    margin-top: 0;
    border: none;
    box-shadow: none;
  }
  .skills {
    width: 100%;
    padding-right: 0;
    margin-bottom: 0;
  }
  .skills:not(:first-child) {
    margin-top: 28px;
  }
}

@media screen and (max-width:420px) {
  body {
    font-size: 1rem;
  }
  #resume {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media print {
  #top h1#name span {
    font-weight: 100;
  }
  #resume {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
  }
  body {
    margin-top: 17px;
    background: 0 0;
  }
  .sectionLeft,
  .sectionRight {
    float: none;
    width: 100%;
  }
  .spacing-small h2.resumeSection {
    margin-bottom: 4px;
  }
  .spacing-large h2.resumeSection,
  h2.resumeSection {
    margin-bottom: 12px;
  }
  .mobile-hide {
    display: none;
  }
  .desktop-hide {
    display: block;
  }
  .left,
  .right {
    float: none;
    padding: 0;
    width: 100%;
  }
  #resume #main .list ul li .description {
    margin-top: 4px;
  }
  #resume {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
  }

  #resume #main .list ul li h3.time .period {
    display: none;
  }
  #skills {
    page-break-inside: avoid;
  }

  footer {
    display: none;
  }
}
